
.page-email{
    width: 100%;
    height: 100%;
}

.email-screen{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.email-back{
    width: 100%;
    font-size: 60px;
    padding-left: 10px;
    color: #fcba03;
}

#email-input{
    width: 87vw;
    height: 41px;
    border-radius: 7px;
    background: #e2e2e2;
    margin-bottom: 10px;
    padding-left: 15px;
    caret-color: #5e5e5e;
}

#email-input::placeholder{
    color: #a8a8a8;

}


.email-screen-txt{
    width: 100%;
    height: 120px;
}


.email-screen-txt h1{
    font-weight: 480;
    font-size: 35px;
    font-family: fantasy;
    letter-spacing: -1px;
    line-height: 7px;
    text-align: center;
    color: #363636;
}

#btn-continuar{
    width: 87vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    border: none;
    background: #d4d4d4;
    color: white;
    font-size: 15px;

}

#btn-continuar a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#btn-continuar valid{
    width: 100%;
    height: 100%;
    background: #fcba03;
}